:root {
  --headerfooter: rgb(98, 51, 168);
  --textcolor: rgb(249, 247, 238);
  --bodyfont: Verdana, Geneva, Tahoma, sans-serif;
  --accentblue: rgb(90, 1, 117);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--headerfooter);
  color: var(--textcolor);
  font-family: var(--bodyfont);
  padding: 1.5em;
  flex-wrap: wrap;
  border-bottom: 2px rgb(62, 32, 108) solid;
}

header nav li {
  display: inline;
  padding: 2em;
  justify-content: center;
  margin-top: 1em;
}

nav li a {
  color: var(--textcolor);
  text-decoration: none;
}
h1 {
  font-size: 200%;
}
#maddy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  /* height: fit-content; */
  padding: 1em;
  box-shadow: 5px 8px 10px var(--accentblue);
  border-radius: 10px;
}
footer {
  background-color: var(--headerfooter);
  font-family: var(--bodyfont);
  color: var(--textcolor);
  text-align: center;
  padding: 2em;
}

.sites {
  display: flex;
  flex: 4;
  flex-wrap: wrap;
}
.site {
  width: 100%;
  padding: 1em;
}
.caption {
  position: relative;
  margin-left: 27px;
  margin-top: -39px;
  background-color: var(--accentblue);
  color: var(--textcolor);
  padding: 5px;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}
#about {
  display: flex;
  padding: 2em;
}
#contact {
  display: flex;
  padding: 1em;
}

#work {
  display: flex;
  padding: 2em;
}

.smallerwork {
  display: flex;
  flex: 1 0 50%;
  flex-wrap: wrap;
  box-shadow: 5px 8px 10px var(--accentblue);
  border-radius: 10px;
  padding: 1em;
}
h2 {
  padding: 1em;
  font-size: 150%;
}
main {
  background-color: rgb(181, 139, 221);
  color: var(--textcolor);
}

#firstwork {
  flex: 2, 0, 100%;
  box-shadow: 5px 8px 10px var(--accentblue);
  border-radius: 10px;
  padding: 1em;
}

#about p {
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
}

#contactlinks li a {
  text-decoration: none;
  color: var(--textcolor);
}
#contactlinks li {
  display: inline;
  padding: 2.5em;
  position: relative;
  margin-left: 40px;
  margin-top: 45px;
  flex-wrap: wrap;
}

.smallerwork:hover,
#firstwork:hover {
  box-shadow: 5px 8px 10px rgb(193, 12, 142);
}
