:root {
  --headerfooter: rgb(98, 51, 168);
  --textcolor: rgb(249, 247, 238);
  --bodyfont: Verdana, Geneva, Tahoma, sans-serif;
  --accentblue: rgb(90, 1, 117);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--headerfooter);
  color: var(--textcolor);
  font-family: var(--bodyfont);
  padding: 1.5em;
}

header nav li {
  display: inline;
  padding: 1em;
  justify-content: center;
}
h1 {
  background-color: var(--accentblue);
  font-size: 200%;
}
#maddy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding: 1em;
}
footer {
  background-color: var(--headerfooter);
  font-family: var(--bodyfont);
  color: var(--textcolor);
  text-align: center;
}
.contact li {
  display: inline;
}

.sites {
  display: flex;
  flex: 4;
  flex-wrap: wrap;
}
.site {
  width: 100%;
  padding: 1em;
}
.caption {
  position: relative;
  margin-left: 27px;
  margin-top: -39px;
  background-color: var(--accentblue);
  color: var(--textcolor);
  padding: 5px;
  width: fit-content;
  height: fit-content;
}
.about {
  display: flex;
  padding: 2em;
}
.contact {
  display: flex;
}

.work {
  display: flex;
}

.smallerwork {
  display: flex;
  flex: 1 0 50%;
  flex-wrap: wrap;
}
h2 {
  padding: 1em;
  font-size: 150%;
}
main {
  background-color: rgb(193, 156, 228);
}
.about p {
  text-align: center;
  margin-top: 30px;
}
#firstwork {
  flex: 2, 0, 100%;
}
